<div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>publish_id</th>
        <th>content</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <th scope="row"><%= post.id %></th>
          <td><%= post.publish_id %></td>
          <td><%= truncate(post.content, length: 24) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>