body.tweets {
  .container {
    max-width: 1200px;
  }

  th.id_lists {
    font-size: 12px;
  }
  td.contents_list {
    font-size: 12px;
  }

}

body.tweets.new {
  .textbox {
    width: 100%;
    height: 10rem;
  }
}

.tweets.edit {
  .text_box_size {
    width: 100%;
    height: 10rem;
  }
}
