<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <%= link_to 'tweets', '/tweets', class: 'nav-link' %>
        <!-- <a class="nav-link active" href="#">Home</a> -->
            <!-- <span class="sr-only">(current)</span> -->
      </li>
      <li class="nav-item"><%= link_to 'new', '/tweets/new', class: 'nav-link', data: { turbolinks: false } %></li>
      <li class="nav-item"><%= link_to 'posts', '/', class: 'nav-link' %></li>
    </ul>
  </nav>
  <h3 class="text-muted">Twibot</h3>
</div>